/* --- Font --- */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* --- Colors --- */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

/* --- base --- */
html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* --- header --- */
header {
  background-image: url('../images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 175px;
  max-width: 1440px;
}

ul {
  display: flex;
  align-items: center;
}

li a {
  text-decoration: none;
  color: var(--white);
  margin: 1.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.title {
  margin-left: 175px;
  margin-top: 100px;
  color: var(--white);
  border: 2px solid var(--white);
  width: 600px;
}

h1 {
  padding: 30px;
  font-size: 4.5rem;
}

.nav__link,
.icon {
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 2px;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
  background-color: var(--white);
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

/* --- main --- */
main,
footer {
  max-width: 1440px;
  padding: 50px 175px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

section {
  margin: 8rem 0;
}

.interactive {
  position: relative;
}

.interactive__image {
  height: 500px;
  background-image: url('../images/desktop/image-interactive.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.interactive__description {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  padding-left: 6rem;
  padding-top: 6rem;
  width: 400px;
}

.interactive__description p {
  font-size: 1rem;
  line-height: 1.3rem;
}

.creations__title {
  display: flex;
  justify-content: space-between;
}

button {
  text-transform: uppercase;
  font-size: 1rem;
  background-color: var(--white);
  border: 2px solid black;
  padding: 0.5rem 2rem;
  height: fit-content;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

button:hover {
  color: var(--white);
  background-color: var(--black);
}

.creations__list {
  margin: 4rem 0;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
}

.creation {
  position: relative;
  background-image: url('../images/desktop/image-deep-earth.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 430px;
}

.creation h3 {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: var(--white);
  font-size: 1.8rem;
  width: 100px;
}

/* --- footer --- */
footer {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.footer__left,
.footer__right {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 120px;
  margin-bottom: 2.5rem;
}

footer ul {
  margin-left: -1.2rem;
}

.footer__right {
  text-align: end;
}

.icons {
  display: flex;
  justify-content: end;
}

.icon {
  width: fit-content;
  margin-left: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
