/* --- Font --- */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* --- Colors --- */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

/* --- base --- */
html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* --- header --- */
header {
  background-image: url('../images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 175px;
  max-width: 1440px;
  position: relative;
}

nav .toggle-button {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

nav .toggle-button span {
  height: 4px;
  width: 35px;
  background-color: #fff;
  display: block;
  margin-bottom: 5px;
}

ul {
  display: flex;
  align-items: center;
}

li a {
  text-decoration: none;
  color: var(--white);
  margin: 0 1.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.title {
  margin-left: 175px;
  margin-top: 100px;
  color: var(--white);
  border: 2px solid var(--white);
  width: 600px;
}

h1 {
  padding: 30px;
  font-size: 4.5rem;
}

.nav__link,
.icon {
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 2px;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
  background-color: var(--white);
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

nav .toggle-button {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

nav .toggle-button span {
  height: 4px;
  width: 35px;
  background-color: #fff;
  display: block;
  margin-bottom: 5px;
}

/* --- main --- */
main,
footer {
  max-width: 1440px;
  padding: 50px 175px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

section {
  margin: 8rem 0;
}

.interactive {
  position: relative;
}

.interactive__image {
  height: 500px;
  background-image: url('../images/desktop/image-interactive.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.interactive__description {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  padding-left: 6rem;
  padding-top: 6rem;
  width: 400px;
}

.interactive__description p {
  font-size: 1rem;
  line-height: 1.3rem;
}

.creations__title {
  display: flex;
  justify-content: space-between;
}

button {
  text-transform: uppercase;
  font-size: 1rem;
  background-color: var(--white);
  border: 2px solid black;
  padding: 0.5rem 2rem;
  height: fit-content;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

button:hover {
  color: var(--white);
  background-color: var(--black);
}

.button__top {
  display: flex;
}

.button__bottom {
  display: none;
}

.creations__list {
  margin: 4rem 0;
  display: grid;
  align-content: start;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  /* grid-column-gap: 20px;
  grid-row-gap: 20px; */
  gap: 1.5rem;
}

.creation {
  position: relative;
  height: 430px;
  margin: auto;
}

.creation img {
  height: 430px;
}

.creation__title {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white);
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  cursor: pointer;
}

.creation__title:hover {
  color: black;
  background-color: rgb(255, 255, 255, 0.6);
}

.creation h3 {
  width: 140px;
  margin: 2rem;
}

/* --- footer --- */
footer {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.footer__left,
.footer__right {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 120px;
  margin-bottom: 2.5rem;
}

footer ul {
  margin-left: -1.2rem;
}

.footer__right {
  text-align: end;
}

.icons {
  display: flex;
  justify-content: end;
}

.icon {
  width: fit-content;
  margin-left: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* --- Responsive --- */
@media screen and (max-width: 1100px) {
  .interactive__description {
    padding-left: 4rem;
    padding-top: 4rem;
  }
}

@media screen and (max-width: 1000px) {
  nav,
  main,
  footer {
    padding: 2rem;
  }

  .title {
    margin: 100px 2rem;
  }
}

@media screen and (max-width: 700px) {
  nav,
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    background-color: transparent;
    height: fit-content;
    z-index: 1;
    justify-content: flex-start;
    padding: 2rem;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  nav ul {
    margin-top: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100% - 60px);
    width: 100%;
    /* overflow: auto; */
    background-color: transparent;
    transition: all 0.3s ease-out;
    transform: translateY(-100%);
  }

  nav.active {
    background-color: var(--black);
  }

  nav ul.active {
    transform: translateY(0);
    background-color: var(--black);
  }

  li {
    margin: 1rem 0.6rem;
  }
  li a {
    margin: 0 20px;
  }

  nav .toggle-button {
    position: fixed;
    display: block;
    top: 35px;
    right: 30px;
  }

  header {
    background-image: url('../images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    width: 85%;
    margin: auto;
  }

  h1 {
    font-size: 3.5rem;
  }

  footer {
    flex-direction: column;
  }

  .logo,
  .icons,
  .footer__right p {
    margin: 1rem auto;
  }

  .icon {
    margin: 1rem;
  }
  .footer__left ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  section {
    margin: 4rem 2rem;
    text-align: center;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h2,
  .creations {
    margin: auto;
  }

  .interactive__image {
    height: 200px;
    background-image: url('../images/mobile/image-interactive.jpg');
    background-size: contain;
  }

  .interactive__description {
    padding: 0;
    position: initial;
    width: fit-content;
    margin: 2rem 0;
  }

  .button__top {
    display: none;
  }

  .button__bottom {
    display: flex;
    margin: auto;
  }

  .creations__list {
    margin: 2rem 0;
    display: grid;
    align-content: start;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(1, 1fr);
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
    gap: 1.5rem;
  }
  .creation,
  .creation img {
    height: 150px;
    width: 320px;
  }

  .creation img {
    object-position: top;
    object-fit: cover;
  }

  h3 {
    text-align: start;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}
