/* --- Font --- */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* --- Colors --- */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

/* --- base --- */
html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* --- header --- */
header {
  background-image: url('../images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 175px;
}

ul {
  display: flex;
  align-items: center;
}

li a {
  text-decoration: none;
  color: var(--white);
  margin: 1.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.title {
  margin-left: 175px;
  margin-top: 100px;
  color: var(--white);
  border: 2px solid var(--white);
  width: 600px;
}

h1 {
  padding: 30px;
  font-size: 5rem;
}

/* --- main --- */
main {
  padding: 50px 175px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.interactive {
  position: relative;
  margin: 4rem 0;
}

.interactive__image {
  height: 500px;
  background-image: url('../images/desktop/image-interactive.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.interactive__description {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  padding-left: 6rem;
  padding-top: 6rem;
  width: 400px;
}

.interactive__description p {
  font-size: 1rem;
  line-height: 1.3rem;
}
